<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    ==============checkbox单选框使用================
    <!--checkbox单选框-->
    <br>
    <label for="agree">
        <input type="checkbox" id="agree" v-model="isAgree">同意协议
    </label><br>
    是否选择:{{isAgree}}<br>
    <button :disabled="!isAgree">下一步</button>
    <br>

    ================checkbox多选框使用================
    <!--2.checkbox多选框-->
    <br>
    <label for="check">
        <input type="checkbox" value="篮球" v-model="hobbies">篮球 <br>
        <input type="checkbox" value="主球" v-model="hobbies">主球 <br>
        <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球 <br>
        <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球 <br>
    </label>
    您的爱好是:{{hobbies}}
</div>
<script src="../../js/vue.js"></script>
<script>
    const app=new Vue({
        el:'#app',
        data:{
            message:"hello world!",
            isAgree:false,
            hobbies:[]
        }
    })
</script>
</body>
</html>
