<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    ==============值绑定================ <br>
    <label for="" v-for="item in originHibbies">
        <input type="checkbox" :value="item" v-model="hobbies">{{item}} <br>
    </label>
    <br>
    您的爱好是:{{hobbies}}
</div>
<script src="../../js/vue.js"></script>
<script>
    const app=new Vue({
        el:'#app',
        data:{
            message:"hello world!",
            isAgree:false,
            hobbies:[],
            originHibbies:['篮球','足球','乒乓球','高尔夫球','台球']
        }
    })
</script>
</body>
</html>
